body {
  font-family: "Noto Sans TC","Noto Sans",  sans-serif;
}

h1 {
	color: blue;
}

a {
	color: red;
	font-size: 20px;
}

a:hover {
	font-size: 22px;
	color: white;
	background-color: black;
}

li {
  line-height: 1.5;
}

.strikethrough {
	text-decoration: line-through;
}

img {
	border: 15px solid grey;
}
